<div id="<%= dom_id product %>">
  <p>
    <strong>Nombre del Producto:</strong>
    <%= product.nombre %>
  </p>
  <p>
    <strong>Descripcion del Producto:</strong>
    <%= product.descripcion %>
  </p>
</div>
